<h1><%= t('helpers.titles.show', model: Project.model_name.human ) %></h1>

<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('activerecord.attributes.project.name') %>:</strong>
  <%= @project.name %>
</p>
<p>
  <strong><%= t('activerecord.attributes.project.start') %>:</strong>
  <%= l @project.start %>
</p>
<p>
  <strong><%= t('activerecord.attributes.project.end') %>:</strong>
  <%= l @project.end %>
</p>

<%= link_to t('helpers.links.edit'), edit_project_path(@project) %> |
<%= link_to t('helpers.links.view_all'), projects_path %>